body{
    background-image:linear-gradient(to bottom, #388F9A, #0B283A);
}

@media(min-width:1024px){
    #bloc_page{
        margin-top: 2vh;
        margin-left: 5vw;
        margin-right: 5vw;
        border: 2px;
        border-style: solid;
        border-color: black;
    }
    
    p{
        font-size: 1.2em;
    }

    header{
        height: 11vh;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px;
        border-bottom-style: solid;
        border-bottom-color: black;
    }
    
    header a:hover{
        background-color: aqua;
        font-size: 1.3em;
    }

    #logoh{
        width: 11vh;
        height: 11vh;
    }

    nav{
        display: flex;
        justify-content: space-around;
        margin-top: auto;
        margin-bottom: auto;
    }

    #liste_menu{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    ul{
        margin-right: 4%;
    }

    li{
        font-size: 2.1vh;
        width: 60%;
    }
    
    a{
        color :#273746;
    }

    #baton{
        border-right: 2px;
        border-right-style: solid;
        border-right-color: black;
        padding-right: 6%;
        margin-right: 6%;
    }
    
    #baton1{
        border-right: 2px;
        border-right-style: solid;
        border-right-color: black;
        padding-right: 6%;
        margin-right: 6%;
    }

    #recherche{
        height: 3.5vh;
        border-radius: 20%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20%;
        margin-left: 10%;
    }

    #banniere_image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #banniere{
        height: 20vw;
    }

    #paragraphe{
        margin-left: 3%;
        margin-right: 3%;     
    }
    
    #logo{
        width: 15vw;
        height: 15vw;
    }
    
    #logo1{
        width: 15vw;
        height: 15vw;
    }
    
    #logo2{
        width: 15vw;
        height: 15vw;
    }
    
    #logo:hover{
        width: 17vw;
        height: 17vw;
    }
    
    #logo1:hover{
        width: 17vw;
        height: 17vw;
    }
    
    #logo2:hover{
        width: 17vw;
        height: 17vw;
    }

    #Icone{
        display: flex;
        margin-left: 10vw;
       
    }
    
    #icones{
        margin-top: 3vh;
        width: calc(100vw/3);
        height: calc(100vw/3);
    }
    
    #icones1{
        margin-top: 3vh;
        width: calc(100vw/3);
        height: calc(100vw/3);
    }
    
    #icones2{
        margin-top: 3vh;
        width: calc(100vw/3);
        height: calc(100vw/3);
    }

     div logo{
         width: 10vh;
        height: 10vh;
    }

    section{
        display: flex;
        justify-content: space-around;
        margin-bottom: 6vh;
    }

    article{
        margin-top: -20vh;
        width: 90vh;
        border-right: 2px;
        border-right-style: solid;
        border-right-color: black; 
        border-left: 2px;
        border-left-style: solid;
        border-left-color: black;
        margin-top: 0vw;
    }

    #maps{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mapsimage{
        width:70vw ;
        height:60vw ;
    } 
    
    iframe{
        width:60vw ;
        height:30vw
    }

    #message{
        margin-left: 2.1vw;
        width: 39vw;
    }

    footer{
        border-top: 2px;
        border-top-style: solid;
        border-top-color: black;
    }
    
    #logof{
        height: 7vw;
    }
    
    #logof:hover{
        height: 8vw;
    }
    
    #logof1{
        height: 7vw;
    }
    
    #logof1:hover{
        height: 8vw;
    }
    
    #logof2{
        height: 7vw;
    }
    
    #logof2:hover{
        height: 8vw;
    }
    
    
    #footerphoto{
        display: flex;
        justify-content: space-around;
    }
}

@media(max-width:1024px){
    #bloc_page{
        margin-top: 2vh;
        margin-left: 5vw;
        margin-right: 5vw;
        border: 2px;
        border-style: solid;
        border-color: black;
    }
    
    header a{
        font-size: 1.5vw;
    }
    
    p{
        font-size: 1.5em;
    }

    header{
        height: 11vh;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px;
        border-bottom-style: solid;
        border-bottom-color: black;
    }
    
    header a:hover{
        background-color: aqua;
        font-size: 1.3em;
    }

    #logoh{
        width: 11vh;
        height: 11vh;
    }

    nav{
        display: flex;
        justify-content: space-around;
        margin-top: auto;
        margin-bottom: auto;
    }

    #liste_menu{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    ul{
        margin-right: 4%;
    }

    li{
        font-size: 2.1vh;
        width: 60%;
    }
    
    a{
        color :#273746;
    }

    #baton{
        border-right: 2px;
        border-right-style: solid;
        border-right-color: black;
        padding-right: 6%;
        margin-right: 6%;
    }
    
    #baton1{
        border-right: 2px;
        border-right-style: solid;
        border-right-color: black;
        padding-right: 6%;
        margin-right: 6%;
    }

    #recherche{
        height: 3.5vh;
        border-radius: 20%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20%;
        margin-left: 10%;
    }

    #banniere_image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #banniere{
        height: 20vw;
    }

    #paragraphe{
        margin-left: 3%;
        margin-right: 3%;     
    }
    
    #logo{
        width: 15vw;
        height: 15vw;
    }
    
    #logo:hover{
        width: 17vw;
        height: 17vw;
    }
    
    #logo1{
        width: 15vw;
        height: 15vw;
    }
    
    #logo1:hover{
        width: 17vw;
        height: 17vw;
    }
    
    #logo2{
        width: 15vw;
        height: 15vw;
    }
    
    #logo2:hover{
        width: 17vw;
        height: 17vw;
    }

    #Icone{
        display: flex;
        margin-left: 10vw;
       
    }
    
    #icones{
        margin-top: 3vh;
        width: calc(100vw/3);
        height: calc(100vw/3);
    }
    
    #icones1{
        margin-top: 3vh;
        width: calc(100vw/3);
        height: calc(100vw/3);
    }
    
    #icones2{
        margin-top: 3vh;
        width: calc(100vw/3);
        height: calc(100vw/3);
    }

     div logo{
         width: 10vh;
        height: 10vh;
    }

     div logo1{
         width: 10vh;
        height: 10vh;
    }

     div logo2{
         width: 10vh;
        height: 10vh;
    }

    section{
        display: flex;
        justify-content: space-around;
        margin-bottom: 6vh;
    }

    article{
        margin-top: -20vh;
        width: 90vh;
        border-right: 2px;
        border-right-style: solid;
        border-right-color: black; 
        border-left: 2px;
        border-left-style: solid;
        border-left-color: black;
        margin-top: 5vh;
    }

    #maps{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mapsimage{
        width:70vw ;
        height:60vw ;
    } 
    
    iframe{
        width:50vw ;
        height:30vw
    }

    #message{
        margin-left: 2.1vw;
        width: 39vw;
    }

    footer{
        border-top: 2px;
        border-top-style: solid;
        border-top-color: black;
    }
    
    #logof{
        height: 7vw;
    }
    
    #logof:hover{
        height: 8vw;
    }
    
    #logof1{
        height: 7vw;
    }
    
    #logof1:hover{
        height: 8vw;
    }
    
    #logof2{
        height: 7vw;
    }
    
    #logof2:hover{
        height: 8vw;
    }
    
    #footerphoto{
        display: flex;
        justify-content: space-around;
    }
}

@media(max-width:600px){
    #bloc_page{
        margin-top: 2vh;
        margin-left: 5vw;
        margin-right: 5vw;
        border: 2px;
        border-style: solid;
        border-color: black;
    }

    header{
        height: 11vh;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    nav{
        display: flex;
        justify-content: space-around;
        margin-top: auto;
        margin-bottom: auto;
    }

    #liste_menu{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    ul{
        margin-right: 4%;
    }

    li{
        font-size: 2.1vh;
        width: 60%;
    }

    #baton{
        border-right: 2px;
        border-right-style: solid;
        border-right-color: black;
        padding-right: 6%;
        margin-right: 6%;
    }
    
    #baton1{
        border-right: 2px;
        border-right-style: solid;
        border-right-color: black;
        padding-right: 6%;
        margin-right: 6%;
    }

    #recherche{
        height: 3.5vh;
        border-radius: 20%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20%;
        margin-left: 10%;
    }

    #banniere_image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #banniere{
        height: 20vw;
    }

    #paragraphe{
        margin-left: 3%;
        margin-right: 3%;     
    }

    #Icone{
        margin-left: 17vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #icones{
        align-items: center;
        width: calc(75vw/2);
        height: calc(75vw/2);
    }
    
    #icones1{
        align-items: center;
        width: calc(75vw/2);
        height: calc(75vw/2);
    }
    
    #icones2{
        align-items: center;
        width: calc(75vw/2);
        height: calc(75vw/2);
    }
    
    #logof{
        height: 7vw;
    }
    
    #logof:hover{
        height: 8vw;
    }
    
    #logof1{
        height: 7vw;
    }
    
    #logof1:hover{
        height: 8vw;
    }
    
    #logof2{
        height: 7vw;
    }
    
    #logof2:hover{
        height: 8vw;
    }

    section{
        display: block;
    }

    article{
        margin-right: auto;
        margin-left: auto;
        width: 50vh;
        border-right: 0px;
        border-left: 0px;
    }

    #maps{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer{
        border-top: 2px;
        border-top-style: solid;
        border-top-color: black;
    }

    #textfoot{
        margin-left: 85%;
    }
}